<img src="../../assets/marvel.png" class="imgMarvel">
<div class="background">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar por nome">
    </mat-form-field>
    <table mat-table *ngIf="heroes" [dataSource]="dataSource" class="mat-elevation-z8" matSort> 
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Foto </th>
            <td mat-cell *matCellDef="let heroes" class="img"> <img id="imgHeroes" src="{{heroes.thumbnail.path}}.{{heroes.thumbnail.extension}}"></td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="nomeTabela"> Nome </th>
            <td mat-cell *matCellDef="let heroes"  class="name"> {{heroes.name}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let heroes" class="description"> {{heroes.description}}{{heroes.description.length == 0 ? 'Sem descrição' : ''}} </td>
        </ng-container>
        <ng-container matColumnDef="stories">
            <th mat-header-cell *matHeaderCellDef> Quandrinhos Citados </th>
            <td mat-cell *matCellDef="let heroes"  class="comics"><p *ngFor="let comics of heroes.comics.items">{{comics.name}}{{comics.name == '' ? 'Sem citações' : ''}}</p></td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
