img{
    height: 100px;
    width: 100px;
    padding: 24px 24px 20px 24px;
}

th.mat-header-cell {padding: 24px;}

table{
  width: 100%;
}

  td {
    padding: 15px !important;
    border: 0.5px solid rgba(0,0,0,.12);
  }  

  .background{
      padding: 55px;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  /* .description{
  max-width: 100px;
  overflow: hidden;
  text-overflow: '... (continuar lendo)';
  white-space: nowrap
  }

  .description:hover{
    text-overflow: clip;
    width: 100%;
  } */

  .name{
    width: 15% !important;
  }

  .description{
    width: 35% !important;
  }

  .comics{
    width: 35% !important;
  }

  .img{
    width: 15% !important;
  }
  
  .tr-min {
    display:none;
  } 

  @media screen and (max-width: 768px) {
    .tr-max {
        display:none;
    }
    .tr-min {
        display:table;
    }
}
