/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
    margin: 0px;
    border: none;
}
.imgMarvel{
    display: block;
    margin: 5px auto;
    max-width: 100%;
    width: 780px;
    height: 350px;
  }